## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_challenge import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aqtobe,KZ,50.2797,57.2072,50.09,76,75,8.95,broken clouds
1,1,Hilo,US,19.7297,-155.0900,76.73,84,100,11.50,overcast clouds
2,2,Portland,US,45.5234,-122.6762,56.61,50,75,13.80,broken clouds
3,3,Wonthaggi,AU,-38.6044,145.5913,67.82,74,30,11.32,scattered clouds
4,4,Westport,US,41.1415,-73.3579,55.89,62,20,13.80,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,19.7297,-155.0900,76.73,84,100,11.50,overcast clouds
3,3,Wonthaggi,AU,-38.6044,145.5913,67.82,74,30,11.32,scattered clouds
5,5,Key Largo,US,25.0865,-80.4473,77.00,50,93,20.87,overcast clouds
11,11,Labuhan,ID,-6.8844,112.2051,76.66,88,99,7.99,overcast clouds
14,14,Rikitea,PF,-23.1203,-134.9692,79.20,73,10,18.01,clear sky
15,15,Hobart,AU,-42.8794,147.3294,71.22,75,75,9.22,broken clouds
17,17,Baghdad,IQ,33.3406,44.4009,66.11,39,0,2.30,clear sky
18,18,Kapaa,US,22.0752,-159.3190,80.58,75,40,10.36,scattered clouds
20,20,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,90,86,11.05,overcast clouds
24,24,Anori,BR,-3.7728,-61.6442,75.18,99,100,1.99,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                319
City                   319
Country                317
Lat                    319
Lng                    319
Max Temp               319
Humidity               319
Cloudiness             319
Wind Speed             319
Current Description    319
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_cities_df = preferred_cities_df.dropna()
cleaned_cities_df.count()

City_ID                317
City                   317
Country                317
Lat                    317
Lng                    317
Max Temp               317
Humidity               317
Cloudiness             317
Wind Speed             317
Current Description    317
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,76.73,overcast clouds,19.7297,-155.0900,
3,Wonthaggi,AU,67.82,scattered clouds,-38.6044,145.5913,
5,Key Largo,US,77.00,overcast clouds,25.0865,-80.4473,
11,Labuhan,ID,76.66,overcast clouds,-6.8844,112.2051,
14,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,
15,Hobart,AU,71.22,broken clouds,-42.8794,147.3294,
17,Baghdad,IQ,66.11,clear sky,33.3406,44.4009,
18,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
20,Arraial Do Cabo,BR,76.86,overcast clouds,-22.9661,-42.0278,
24,Anori,BR,75.18,overcast clouds,-3.7728,-61.6442,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,76.73,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Wonthaggi,AU,67.82,scattered clouds,-38.6044,145.5913,Wonthaggi Caravans & Trailers
5,Key Largo,US,77.00,overcast clouds,25.0865,-80.4473,Bayside Inn Key Largo
11,Labuhan,ID,76.66,overcast clouds,-6.8844,112.2051,DoubleFAG
14,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,People ThankYou
15,Hobart,AU,71.22,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
17,Baghdad,IQ,66.11,clear sky,33.3406,44.4009,Baghdad Hotel
18,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Arraial Do Cabo,BR,76.86,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
24,Anori,BR,75.18,overcast clouds,-3.7728,-61.6442,Novo Hotel 5 Irmãos

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))